// Place all the styles related to the CuisineTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: CuisineIcon;
  src: url('cuisine-webfont/efcuisines-regular-webfont.eot');
  src: url('cuisine-webfont/efcuisines-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('cuisine-webfont/efcuisines-regular-webfont.woff') format('woff'),
  url('cuisine-webfont/efcuisines-regular-webfont.ttf') format('truetype'),
  url('cuisine-webfont/efcuisines-regular-webfont.svg#ef_cuisinesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}