// Place all the styles related to the CuisineTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: CuisineIcon;
  url('cuisine-webfont/efcuisines-regular-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}