
.page-header {
  background-image: url(restaurant_tables.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 200px;
  display: flex;
  align-items: top;
  justify-content: center;

  .app-header {
    text-align: center;
    color: #1f6730;
    font-family: fantasy;
    font-size: 52px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px 10px 0px 10px;
  }

  h1 {
    height: 75px;
    margin-top: 15px;
  }
}

.error-page {
  h1 {
    margin-top: 20px;
    margin-left: 40px;
  }
}