.restaurant-card {

  width: 20rem;
  margin: 0 auto;

  .image-section {
    width: 100px;
  }

  .card-block {
    display: flex;
    flex-direction: row;

    .card-title {
      margin-top: 25px;
      margin-bottom: 5px;
    }

    .card-body {
      padding: 20px;
      font-size: 16px;
    }

    .restaurant-logo {
      margin: 5px;
      width: 100%;
    }

    .details-section {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .rest-row {
      margin-bottom: 5px;
    }

    .rest-sub-section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;

      .rest-sub-item {
        width: 50%;
        margin-bottom: 5px;
      }
    }

    .icon-10-bis {
      height: 15px;
      content:url(10bis.png);
    }

    .restaurant-icon {
      margin: 5px;
    }
  }

}