
.restaurants-app {
  .search-restaurants-wrapper {
    margin: 20px;

    .search-input input {
      width: 300px;
    }

  }

  .Select {
    margin: 20px;
    width: 300px;
  }

  .slider-wrapper {
    width: 300px;
    margin: 20px;
  }
}