// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurants {

  display: flex;
  flex-direction: column;
  min-height: min-content;
  width: 360px;

  .restaurant-card-wrapper {
    margin: 10px;
    display: inline-flex;

    &:hover {
      .restaurant-card {
        background-color: rgb(240, 240, 240);
      }
    }
  }
}