.restaurant-card {

  width: 20rem;

  .restaurant-logo {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
  }

  .icon-10-bis {
    height: 15px;
  }

  .restaurant-icon {
    margin: 5px;
  }
}