<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'restaurants-bundle' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
